@import url(./cabecalho.css);
@import url(./banner.css);
@import url(./metricas.css);
@import url(./vagas.css);
@import url(./areas.css);
@import url(./depoimento.css);
@import url(./rodape.css);

:root {
  --branco: #ffffff;
  --cinza: #3a404e;
  --cinza-borda: #eaecf0;
  --cinza-claro: #667085;
  --cinza-escuro: #101828;
  --cinza-fundo: #f9fafb;
  --cinza-rodape: #98a2b3;
  --vermelho: #8e2424;
  --fonte-texto: "Inter";
}

body {
  font-family: var(--fonte-texto);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--branco);
}
